/*字体样式导入*/
@font-face {
	font-family: "PhonePadTwo",
	src: url("phonepadtwo.eot");
}

body{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

/***********************menu界面***********************************/
.cover{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background 2s;
	-moz-transition: background 2s; 	/*Firefox 4 */
	-webkit-transition: background 2s; 	/* Safari 和 Chrome */
	-o-transition: background 2s; 		/* Opera */
	z-index: 5;
	position: absolute;
	background: #31c6e4;
	overflow: hidden;
}

#coverStart(){
	-webkit-transition: opacity 2s;
}

.hint, .footer{
	z-index: 6;
	position: absolute;
	font: 60px bolder "PhonepadTwo";
	text-align: center;
	color: #fff;
	cursor: pointer;
	width: 100%;
	height: 20px;
}

.option, .footer{
	-webkit-transition:color 0.5s;
}
.option:hover, .footer:hover{
	color: #555;
}

.hint{
	margin-top: 20%;
}

.footer{
	margin-top: 40%;
}

.hint span{
	margin-right: 50px;
}

.hint span a{
	text-transform: none;
	text-decoration: none;
	color: #fff;
}

#spanLeft{
	width: 30px;
	height: 300px;
	font-size: 300px;
	margin-left: 150px;
	margin-right: 150px;
}

#spanMid{
	width: 300px;
	height: 300px;
	font-size: 300px;
	margin-left: 10px;
	margin-right: 10px;
}

#spanRight{
	font-size: 300px;
	margin-left: 150px;
	margin-right: 150px;
}

.scoreResult{
	margin-top: 15%;
	z-index: 6;
	position: absolute;
	font: 60px bolder "PhonepadTwo";
	text-align: center;
	color: #fff;
	width: 100%;
	height: 20px;
}

/****************************游戏界面**********************************/
#myCanvas{
	position: absolute;
	z-index: 4;
	margin: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 0;
	overflow: hidden;
}

.partLeft, .partRight{
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 3;
	position: absolute;
	background: #3f3f3f;
	overflow: hidden;
}

.partLeft{
	right: 100%;
	transition: right 1s;
	-moz-transition: right 1s; 		/*Firefox 4 */
	-webkit-transition: right 1s; 	/* Safari 和 Chrome */
	-o-transition: right 1s; 		/* Opera */
}

.partRight{
	left: 100%;
	transition: left 1s;
	-moz-transition: left 1s; 		/*Firefox 4 */
	-webkit-transition: left 1s; 	/* Safari 和 Chrome */
	-o-transition: left 1s; 		/* Opera */
}

#gamingLeft, #gamingRight{
	display: block;
	width: 70%; 
	height: 100%;
	transition: background 2s;
	-moz-transition: background 2s; 		/*Firefox 4 */
	-webkit-transition: background 2s; 	/* Safari 和 Chrome */
	-o-transition: background 2s; 		/* Opera */
}

#gamingLeft{
	background: rgb(255, 239, 169);
	position: relative;
	left: 30%;
}

#gamingRight{
	background: rgb(186, 248, 227);
	right: 30%;
}

#waitingLeft, #waitingRight{
	display: block;
	margin-left: 0;
	width: 30%;
	height: 100%;
	background: #fff;
}

#waitingLeft{
	float: left;
}

#waitingRight{
	float: right;
}

.score{
	display: block;
	width: 36%;
	height: 20%;
	text-align: center;
	font-family: "PhonepadTwo";
	font-size: 6em;
}

#leftScore_1{
	margin-top: 25%;
	margin-left: 32%;
	color: rgb(57, 232, 175);
}

#rightScore_1{
	margin-top: 165%;
	margin-left: 32%;
	color: rgb(255, 208, 4);
}

.ball{
	display: block;
	width: 25%;
	height: 25%;
}

#leftBall{
	margin-top: 145%;
	margin-left: 43%;
}

#rightBall{
	margin-left: 43%;
	margin-top: 21%;
}

.imgDiv{
	position: relative;
	margin-bottom: 0;
}

.picList{
	margin: 0, auto;
	width: 40%;
}




/*mode2*/
#leftScore_2{
	margin-top: 40%;
	margin-left: 32%;
	color: rgb(57, 232, 175);
	transition: color 2s;
	-moz-transition: color 2s; 		/*Firefox 4 */
	-webkit-transition: color 2s; 	/* Safari 和 Chrome */
	-o-transition: color 2s; 		/* Opera */
}

#rightScore_2{
	margin-top: 40%;
	margin-left: 32%;
	color: rgb(255, 208, 4);
	transition: color 2s;
	-moz-transition: color 2s; 		/*Firefox 4 */
	-webkit-transition: color 2s; 	/* Safari 和 Chrome */
	-o-transition: color 2s; 		/* Opera */
}

#leftupBall, #rightupBall{
	margin-left: 45%;
	margin-top: 11%;
}

#leftdownBall, #rightdownBall{
	margin-top: 75%;
	margin-left: 45%;
}

#coverEnd{
	z-index: 0;
	display: none;
}