/*用于显示人物图标*/
.person{
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
	background: none;
	z-index: 2px;
	margin-top: 100px;
}

.personImg{
	width: 60px;
	height: 60px;
	margin: 0px;
}