/*字体样式导入*/
@font-face {
	font-family: "PhonePadTwo",
	src: url("PhonepadTwo.ttf");
}

body{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

/***********************menu界面***********************************/
.cover{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background 2s;
	-moz-transition: background 2s; 	/*Firefox 4 */
	-webkit-transition: background 2s; 	/* Safari 和 Chrome */
	-o-transition: background 2s; 		/* Opera */
	z-index: 5;
	position: absolute;
	background: #31c6e4;
}

/*输入nickname的操作参照demo*/

.form {
	height: 100px;
	margin-top: -100px;
	position: absolute;
	font-family: arial;

	text-align: center;
	top: 50%;
	width: 100%;
	color: #fff;
}

.usernameInput {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 15px;
	text-align: center;
	width: 400px;
}

.title{
	font-size: 200%;
}

.usernameInput {
	font-size: 200%;
	letter-spacing: 3px;
}

.title, .usernameInput{
	color: #fff;
	font-weight: 100;
}

.hint{
	height: 100px;
	position: absolute;
	font-family: arial;
	top: 50%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
}

/****************************游戏界面**********************************/
.partLeft, .partRight{
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 3;
	position: absolute;
	background: #3f3f3f;
	overflow: hidden;
}

.partLeft{
	right: 100%;
	transition: right 1s;
	-moz-transition: right 1s; 		/*Firefox 4 */
	-webkit-transition: right 1s; 	/* Safari 和 Chrome */
	-o-transition: right 1s; 		/* Opera */
}

.partRight{
	left: 100%;
	transition: left 1s;
	-moz-transition: left 1s; 		/*Firefox 4 */
	-webkit-transition: left 1s; 	/* Safari 和 Chrome */
	-o-transition: left 1s; 		/* Opera */
}

#gamingLeft, #gamingRight{
	display: block;
	width: 70%; 
	height: 100%;
}

#gamingLeft{
	background: rgb(255, 239, 169);
	position: relative;
	left: 30%;
}

#gamingRight{
	background: rgb(186, 248, 227);
	right: 30%;
}

#waitingLeft, #waitingRight{
	display: block;
	margin-left: 0;
	width: 30%;
	height: 100%;
	background: #fff;
}

#waitingLeft{
	float: left;
}

#waitingRight{
	float: right;
}

.score{
	display: block;
	width: 36%;
	height: 20%;
	text-align: center;
	font-family: "PhonepadTwo";
	font-size: 6em;
}

#leftScore{
	margin-top: 25%;
	margin-left: 32%;
	color: rgb(57, 232, 175);
}

#rightScore{
	margin-top: 265%;
	margin-left: 32%;
	color: rgb(255, 208, 4);
}









